{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Signup Page</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <div class="container">
    <div class="signup form">
      <header>Signup</header>
       <h1>Signup</h1>
    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required maxlength="150" pattern="[A-Za-z0-9@/./+/-/_]+" title="Letters, digits and @/./+/-/_ only"><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required minlength="4"><br><br>

        <label for="password_confirmation">Password confirmation:</label><br>
        <input type="password" id="password_confirmation" name="password_confirmation" required><br><br>

        <button type="submit">Signup</button>
    </form>
      <div class="login">
        <span class="login">Already have an account? <a href="{% url 'login' %}">Login</a></span>
      </div>
    </div>
  </div>
</body>
</html>
