{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Signup Page</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <div class="container">
    <div class="signup form">
      <header>Signup</header>
      <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Enter your username">
        <input type="email" name="email" placeholder="Enter your email">
        <input type="password" name="password1" placeholder="Enter your password">
        <input type="password" name="password2" placeholder="Confirm your password">
        <input type="submit" class="button" value="Signup">
      </form>
      <div class="login">
        <span class="login">Already have an account? <a href="{% url 'login' %}">Login</a></span>
      </div>
    </div>
  </div>
</body>
</html>
